<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <title>Мой TODO Список</title>
</head>
<body>
    <h1>Список дел на сегодня:</h1>

    <form method="POST">
        {% csrf_token %}
        <input type="text" name="title" placeholder="Введите новую задачу..." required>
        <button type="submit">Добавить</button>
    </form>

    <hr>

    <ul>
        {% for task in tasks %}
            <li>
                <a href="{% url 'toggle_task' task.id %}" style="text-decoration: none; color: black;">
                    {% if task.completed %}
                        <s>{{ task.title }}</s> (Выполнено) 🟢
                    {% else %}
                        <b>{{ task.title }}</b> 🔴
                    {% endif %}
                </a>

                <a href="{% url 'delete_task' task.id %}" style="color: red; text-decoration: none; margin-left: 15px;">[Удалить]</a>
                <a href="{% url 'edit_task' task.id %}" style="color: blue; text-decoration: none; margin-left: 10px;">[Изменить]</a>
            </li>
        {% empty %}
            <li>Задач пока нет! Создай первую.</li>
        {% endfor %}
    </ul>

</body>
</html>